[submodule "packages/hyperwebjs/cosmos-sdk"]
	path = packages/hyperwebjs/cosmos-sdk
	url = git@github.com:cosmos/cosmos-sdk.git
[submodule "packages/hyperwebjs/hyperweb"]
	path = packages/hyperwebjs/hyperweb
	url = git@github.com:hyperweb-io/hyperweb.git
